<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Restaurante La Estacion</title>
        <link rel="stylesheet" href="../css/estilo.css"> <!--linkeo CSS-->
        <link rel="preconnect" href="https://fonts.googleapis.com"> <!--linkeo fuentes-->
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Big+Shoulders+Display:wght@600&family=Bubblegum+Sans&family=Oswald&family=Raleway:wght@100;200;300;500&family=Readex+Pro:wght@300&family=Staatliches&display=swap" rel="stylesheet">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    </head>
    <body>
        <!-- apertura Header -->
        <header class="header index__header">
            <!-- LOGO PRINCIPAL -->
            <div class="header__logo">
                <!-- linkeo para uso de logo para ir al index -->
                <a href="../index.html"><img class="logoPrincipal" src="../assets/img/logo_restaurante.png" alt="logo"></a>
            </div>
            <!-- apertura de barra de navegación -->
            <nav class="nav">
                <!-- lista de navegacion con links -->
                <ul class="header__nav">
                    <li><a class="nav__a" href="../index.html">INICIO</a></li>
                    <li><a class="nav__a" href="../views/servicios.html">SERVICIOS</a></li>
                    <li><a class="nav__a" href="../views/menu.html">MENÚ</a></li>
                    <li><a class="nav__a" href="../views/conocenos.html"> CONOCENOS</a></li>
                    <li><a class="nav__a" href="../views/contacto.html">CONTACTO</a></li>
                </ul>
            </nav>
            <!-- cierre barra de navegacion -->
        </header>
        <!-- cierre Header -->
        <!-- apertura contenido -->
        <main class="servicios__main">
            <!-- Apertura primera seccion -->
            <div class="serviciosImg1">
                <img class="main__secciones" src="../assets/img/ejecutivo.png" alt="secciones">
            </div>
            <section class="servicios__seccion1">
                <article data-aos="fade-left">
                    <h4 class="main__subtitulo">ALMUERZO EJECUTIVO</h4>
                    <p class="main__parrafo">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni eos voluptatibus neque iste minima porro aliquid, quia veniam a vel impedit cum, magnam asperiores delectus odio ut libero, fugiat consequatur?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni eos voluptatibus neque iste minima porro aliquid, quia veniam a vel impedit cum, magnam asperiores delectus odio ut libero, fugiat consequatur?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni eos voluptatibus neque iste minima porro aliquid, quia veniam a vel impedit cum, magnam asperiores delectus odio ut libero, fugiat consequatur?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni eos voluptatibus neque iste minima porro aliquid, quia veniam a vel impedit cum, magnam asperiores delectus odio ut libero, fugiat consequatur?</p>
                </article>
            </section>
            <!-- cierre primera seccion -->
            <!-- apertura segunda seccion -->
            <div class="serviciosImg2">
                <img class="main__secciones" src="../assets/img/eventos.png" alt="secciones">
            </div>
            <section class="servicios__seccion2">
                <article data-aos="fade-right">
                    <h4 class="main__subtitulo">FECHAS ESPECIALES</h4>
                    <p class="main__parrafo">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni eos voluptatibus neque iste minima porro aliquid, quia veniam a vel impedit cum, magnam asperiores delectus odio ut libero, fugiat consequatur?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni eos voluptatibus neque iste minima porro aliquid, quia veniam a vel impedit cum, magnam asperiores delectus odio ut libero, fugiat consequatur?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni eos voluptatibus neque iste minima porro aliquid, quia veniam a vel impedit cum, magnam asperiores delectus odio ut libero, fugiat consequatur?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni eos voluptatibus neque iste minima porro aliquid, quia veniam a vel impedit cum, magnam asperiores delectus odio ut libero, fugiat consequatur?</p>
                </article>
            </section>
            <!-- cierre segunda seccion -->
            <!-- apertura tercera seccion -->
            <div class="serviciosImg3">
                <img class="main__secciones" src="../assets/img/pollo.png" alt="secciones">
            </div>
            <section class="servicios__seccion3">
                <article data-aos="fade-left">
                    <h4 class="main__subtitulo">POLLO BROASTER</h4>
                    <p class="main__parrafo">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni eos voluptatibus neque iste minima porro aliquid, quia veniam a vel impedit cum, magnam asperiores delectus odio ut libero, fugiat consequatur?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni eos voluptatibus neque iste minima porro aliquid, quia veniam a vel impedit cum, magnam asperiores delectus odio ut libero, fugiat consequatur?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni eos voluptatibus neque iste minima porro aliquid, quia veniam a vel impedit cum, magnam asperiores delectus odio ut libero, fugiat consequatur?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni eos voluptatibus neque iste minima porro aliquid, quia veniam a vel impedit cum, magnam asperiores delectus odio ut libero, fugiat consequatur?</p>
                </article>
            </section>
            <!-- cierre tercera seccion -->
        </main>
        <!-- cierre contenido -->
        <!-- apertura footer -->
        <footer class="footer">
            <div class="titContacto">
                <h3 class="footer__titulo">
                    <a href="../views/CONTACTO.html"> CONTACTO</a>
                </h3>
            </div>
            <div class="footer__contenido contacto1">
                        <img class="footer__logo footer__logo1" src="../assets/img/whatsapp_logo.png" alt="whatsapp">
            </div>
            <div class="footer__contenido contacto2">
                        <a href="https://www.instagram.com/?hl=en" target="_blank">
                            <img class="footer__logo footer__logo2" src="../assets/img/instagram_logo.png" alt="instagram">
                        </a>
            </div>
            <div class="footer__contenido contacto3">
                correo@mail.com
            </div>     
            <div class="titHorarios">
                <h3 class="footer__titulo">
                    HORARIOS
                </h3>
            </div>
            <div class="footer__contenido horarios1">
                lun-sab
            </div>
            <div class="footer__contenido horarios2">
                00:00
            </div>
            <div class="titEncuentranos" >
                <h3 class="footer__titulo">
                    ENCUENTRANOS
                </h3>
            </div>
            <div class="footer__contenido encuentranos1">
                calle 123
            </div>
            <div class="footer__contenido encuentranos2">
                Barrio X
            </div>
            <div class="footer__contenido encuentranos3">
                Ciudad X
            </div>
        </footer>
        <!-- cierre footer -->
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>
    </body>
</html>